# Python3.10.9
build==1.0.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Click==7.1.2
lasio==0.30
numpy==1.26.0
matplotlib==3.8.0
nbformat==5.9.2
pandas==2.1.1
psycopg2==2.9.9
plotly==5.17.0
ruptures==1.1.8
scikit-learn==1.3.1
scipy==1.11.3
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sqlalchemy==2.0.28
statsmodels==0.14.0
twine==1.14.0
urllib3==1.25.11
welly==0.5.2
fastapi==0.110.0
uvicorn==0.27.1