# Python3.11.0
bokeh==3.7.3
coverage==4.5.4
dlisio==1.0.3
fastapi==0.115.12
fastapi-mcp==0.3.4
fastparquet==2024.2.0
flake8==3.7.8
hatch==1.14.1
ipykernel==6.29.5
ipywidgets==8.1.2
jinja2==3.1.2
lasio==0.30
loguru==0.7.3
matplotlib==3.7.5
mcp==1.10.0
mlflow==2.16.0
nbformat==5.9.2
netcdf4==1.7.2
numpy==1.26.2
orjson==3.10.18
pandas==2.1.1
plotly==6.1.1
psycopg2-binary==2.9.9
ptitprince==0.2.7
pyarrow==16.0.0
pyshp==2.3.1
rockphypy==0.0.2
ruptures==1.1.8
SALib==1.5.1
segyio==1.9.13
segysak==0.5.4
setuptools==80.9.0
scikit-learn==1.4.2
scipy==1.11.4
sphinx-rtd-theme==2.0.0
Sphinx==7.2.6
sqlalchemy==2.0.28
statsmodels==0.14.0
urllib3==1.26.19
uvicorn==0.34.2
watchdog==6.0.0
welly==0.5.2
wheel==0.38.1
xlrd==2.0.2
ydata-profiling==4.9.0
python-dotenv==1.0.0
